.hyper-list {
  display: flex;
  flex: 1 1;

  &__container,
  &__sizer {
    flex: 1;
    display: flex;
    position: relative;
  }

  &__grid {
    @include scrollable;
    overflow-x: hidden !important; // sass-lint:disable-line no-important
  }

  &--drag,
  &--hover {
    background-color: var(--node-list-action-bg);
  }
}

